@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen {
  height: 100vh;
  height: 100dvh;
}

.min-width-3 {
  min-width: 3rem;
}

@screen xl {
  .flowmenu-small-width {
    width: 32rem;
  }
}
